@media screen and (min-width: 48em) {
	.container .app-header {
  	padding-left: 12px;
  }

  .container .page-title {
  	padding-left: 12px;
  }
}

.app-header .app-title span {
  opacity: 0.8;
	color: red;
}

